.goods-recommendations {
    padding-top: 35px;
    padding-bottom: 100px;

    &--in-basket {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    @media screen and (max-width: 670px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title {
        text-align: center;
        padding-bottom: 25px;

        @media screen and (max-width: 670px) {
            padding-bottom: 25px;
        }
    }
}