.products-filters {
    margin-bottom: 25px;

    &__categories {
        padding-bottom: 20px;
    }

    &__checkboxes {
        border-top: 1px solid #e5e5e5;
    }
    &__filter {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}