.products {
    background: #ecedef;
    padding-top: 38px;
    padding-bottom: 70px;

    &__col {
        margin-bottom: 20px;

        @media screen and (max-width: 670px) {
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}